.movie-board {
  border: solid 1px black;
  margin: 0 2em 2em 2em;
  background-color: #a0b8e7;
  color: black;
  border-radius: 0.6em;
}

.movie-board__heading {
  padding: 1em 0 0 1em;
}

.movie-carousel {
  display: flex;
  overflow-x: scroll;
}
