.movie-thumbnail {
  margin: 1em;
  position: relative;
}

.movie-thumbnail__img {
  width: 10em;
  border-radius: 0.6em;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.4);
  transition: 0.2s;
}

.movie-thumbnail__button {
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  border: solid red 2px;
  border-radius: 0.6em;
  padding: 0.3em;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  opacity: 0;
  transition: 0.2s;
}

.movie-thumbnail:hover .movie-thumbnail__img {
  transform: translate(0, -0.75em);
  cursor: pointer;
}

.movie-thumbnail:hover .movie-thumbnail__button {
  opacity: 1;
  transform: translate(0, -0.75em);
  cursor: pointer;
}

.movie-thumbnail__title {
  text-align: center;
  margin-top: 0.5em;
  cursor: pointer;
  transition: 0.2s;
}
